@import "scss/abstract/mixins";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    cursor: crosshair; //ca sert a rien mais c'est marrant
    
   // Responsive Fait à 40%
}

header {
    width: 100%;
    background-image: url(images/Decore.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 120vh;

    @include xs {
        height: auto;
        margin: 0;
        padding: 0;
    }
}

h1 {
    color: #181E4B;
    font-size: 90px;
    padding: 0 0 5% 0%;
    font-family: 'Volkhov';
    @include xs {
        font-size: 40px;
    }
}

h2 {
    font-size: 40px;
    font-family: 'Volkhov';
    color: #14183E;
}

.subtitle {
    font-family: 'open sans';
}

title {
    color: #5E6282;
}

nav {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include xs {
        padding-bottom: 100px;
    }

    img {
        height: 100%;

        @include xs {
            height: auto;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 17px;

        @include xs {
            display: none;
        }
    }

    li {
        margin: auto 50px;
    }

    .border {
        border: solid 1px black;
        border-radius: 5px;
        padding: 5px 20px;
    }

    i {
        margin-left: 10px;
        font-size: 10px;
    }

    .flex {
        display: flex;
        align-items: center;
    }
}

.div_header {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    @include xs {
        flex-direction: column;
        width: 95%;
        margin: auto;
    }

    .text {
        width: 35%;
        padding-left: 15%;

        @include xs {
            width: 90%;
            padding: 0;
        }
    }

    p {
        color: gray;
        font-size: 24px;
        padding: 0 0 5% 0%;
    }

    .red_title {
        color: #DF6951;
        padding: 0 0 0 0%;
        font-weight: 700;

        @include xs {
            font-size: 16px;
        }
    }

    .plane {
        width: 45%;
        height: auto;
        position: absolute;
        right: 240px;
        bottom: 3px;

        @include xs {
            display: none;
        }
    }

    button {
        background-color: orange;
        padding: 1em 2em;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 18px;
        box-shadow: 1px 2px 20px rgba(255, 166, 0, 0.37);
    }

    .div_i {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #DF6951;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        margin-left: 30px;
        box-shadow: 1px 2px 10px #DF6951;

        @include xs {
            margin: 10% 0 0 0;
            padding: 0;
        }
    }

    i {
        text-align: center;
        color: white;
        font-size: 25px;
    }

    .div_button {
        display: flex;
        align-items: center;

        @include xs {
            width: 90%;
            flex-direction: column;
            margin: 10px;
            padding: 0;
        }

        p {
            padding: 0;
            padding-left: 20px;
            font-size: 20px;

            @include xs {
                margin: 0;
                padding: 0;
            }
        }
    }

    span {

        @include xs {
            display: none;
        }

        img {
            position: absolute;
            left: 30%;
            margin-top: 94px;
            z-index: -10;
        }
    }
}

.section_category {
    text-align: center;
    height: auto;
    width: 100%;
    padding-bottom: 200px;

    .stars {
        display: flex;

        img {
            position: absolute;
            right: 50px;
        }
    }

    .section_service {
        display: flex;
        padding-top: 100px;
        margin: 0 15%;
        flex-direction: row;

        @include xs {
            flex-direction: column;
        }

        .div_category {
            width: 15%;
            margin: 0 auto;
            padding: 2%;
            background-color: white;
            border-radius: 25px;
            position: relative;
            height: 200px;

            @include xs {
                width: 90%;
                height: 300px;
                margin-bottom: 50px;
            }

            .div_img {

                img {
                    transform: translate(0, -50%);
                }
            }

            .subtitle {
                font-size: 16px;
                font-weight: bold;
                margin: 0 0 15px 0;
            }

            .text {
                font-size: 16px;
            }

            .div_text {
                width: 85%;
                margin: auto;
            }

            .div_img {
                height: 80px;
            }

            .rectangle_red {
                float: left;
                transform: translate(-60%, -20%);
                z-index: -1;
                position: relative;
            }
        }

        .shadow {
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
        }
    }
}

.section_selling {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;

    .div_selling {
        display: flex;
        justify-content: center;
        width: 55%;
        height: 460px;
        margin: auto;
        margin-top: 100px;

        @include xs {
            flex-direction: column;
            width: 90%;
            height: auto;
        }
    }

    img {
        position: absolute;
        transform: translate(-50%, 0%);
        border-radius: 25px;
    }

    article {
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 460px;
        width: 314px;
        border-radius: 25px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
    }

    .text {
        background-color: white;
        z-index: 1;
        width: 100%;
        height: 130px;
        margin-top: 330px;
        border-radius: 0 0 25px 25px;

        p {
            margin: 5%;
            color: #5E6282;
            align-items: center;
            font-weight: bold;
        }

        p:nth-of-type(1) {
            float: right;
            margin-top: 10%;
        }

        p:nth-of-type(2) {
            text-align: left;
            margin-top: 10%;
        }

        p:nth-of-type(3) {
            text-align: left;
        }

        i {
            color: black;
            margin-right: 10px;
        }
    }

    .flower {
        position: absolute;
        margin-top: 150px;
        right: 17.5%;
        z-index: -10;
    }
}

.section_book {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-direction: row;

    @include xs {
        width: 90%;
        flex-direction: column;
    }

    .image{
        @include xs {
            display: none;
        }
    }
    .text {
        width: 40%;
        margin-left: 15%;

        @include xs {
            width: 90%;
            flex-direction: column;
        }

        .title {
            font-size: 24px;
            margin-bottom: 20px;
            color: #5E6282;

            @include xs {
                width: 90%;
                text-align: center;
            }
        }

        .subtitle {
            font-size: 48px;
            color: #14183E;
            margin-bottom: 20px;
            font-family: 'Volkhov';
            font-weight: bold;

            @include xs {
                width: 90%;
                text-align: center;
            }
        }

        .div_text {
            display: flex;
            flex-direction: column;
            color: #5E6282;

            p:nth-of-type(1) {
                font-weight: bold;
            }

            img {
                float: left;
                margin-right: 20px;
                padding-bottom: 20px;

                @include xs {
                    padding-bottom: 80px;
                }
            }

            .content {
                margin: 2% 0%;
                width: 70%;

                @include xs {
                    width: 90%;
                    flex-direction: column;
                }
            }
        }
    }
}

.section_comment {
    width: 70%;
    display: flex;
    margin: auto;
    color: #5E6282;
    margin-left: 22%;
    margin-bottom: 100px;
    flex-direction: row;

    @include xs {
        margin: auto;
        width: 90%;
        flex-direction: column;
    }

    img {
        position: relative;
        z-index: 100;
    }

    .text {
        width: 40%;

        @include xs {
            width: 90%;
            text-align: center;
            margin: auto;
        }
        
        i {
            font-size: 10px;
            margin: 2%;
            margin-top: 5%;
        }

        i:nth-of-type(1) {
            color: #3E2E4D;
            margin-left: 0;
        }

        i:nth-of-type(2) {
            color: #BCB7C2;
        }

        i:nth-of-type(3) {
            color: #BCB7C2;
        }
    }

    .title {
        font-size: 24px;
        margin-bottom: 20px;

        @include xs {
            width: 90%;
        }
    }

    .subtitle {
        font-size: 48px;
        margin-bottom: 20px;
        color: #14183E;
        font-family: 'Volkhov';
        font-weight: bold;
    }

    .image {
        width: 50%;
        @include xs {
            width: 90%;
        }
    }

    .comment_1 {
        width: 70%;
        margin-left: 8%;
        margin-top: -5%;
        position: relative;
        z-index: 10;
        background-color: white;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
        border-radius: 15px;

        @include xs {
            width: 90%;
        }

        .comment {
            padding: 5%;
            line-height: 25px;
        }

        .name {
            margin: 2% 5%;
            font-weight: bold
        }

        .localisation {
            padding: 0 0 5% 5%;
        }
    }

    .comment_2 {
        width: 70%;
        margin-left: 15%;
        margin-top: -150px;
        height: 220px;
        background-color: white;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
        border-radius: 15px;

        .name {
            padding: 150px 0 2% 5%;
            font-weight: bold
        }

        .localisation {
            padding: 0 0 5% 5%;
        }
    }

    .arrow {
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include xs {
            margin: 20% 0;
            width: 100%;
        }

        i {
            margin: 20% 0;

            @include xs {
                margin: 0;
                padding: 0;
            }
        }

        i:nth-of-type(1) {
            color: #BCB7C2;
        }

        i:nth-of-type(2) {
            color: #3E2E4D;
        }
    }
}

.sponsor {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    flex-direction: row;

    @include xs {
        flex-direction: column;
    }

    .div_img {
        background-color: white;
        padding: 10px 20px;
        height: 70px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        filter: grayscale(1);
    }

    .div_img:hover {
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
        filter: grayscale(0);
        transition: 0.4s;
    }
}

.section_contact {
    width: 80%;
    margin: auto;

    img {
        position: absolute;
        transform: translate(-50%, -50%);
        right: 0%;
    }

    .contact {
        width: 100%;
        height: 530px;
        margin: auto;
        background-image: url(images/bgcontact.png);
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        margin-top: 200px;

        img {
            position: absolute;
            transform: translate(-50%, -50%);
            right: 7%;
        }

        h2 {
            padding-top: 100px;
            color: #5E6282;
            font-family: 'Poppins';
        }

        .mail {
            width: 70%;
            margin: auto;
            display: flex;
            justify-content: center;
            margin-top: 100px;

            .input {
                background-color: white;
                width: 50%;
                height: auto;
                display: flex;
                align-items: center;
                border-radius: 10px;
            }

            button {
                font-size: 16px;
                background-color: #FF946D;
                color: white;
                border: none;
                border-radius: 10px;
                padding: 1em 2em;
                margin-left: 20px;
            }

            button:active {
                background-color: #5f382a;
            }

            i {
                margin: 0 2% 0 5%;
            }
        }
    }
}

footer {
    color: #5E6282;

    .section_footer {
        width: 70%;
        margin: auto;
        display: grid;
        margin-top: 300px;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2.5fr 1.2fr 1.2fr 1.2fr;

        @include xs {
            display: none;
        }
    }

    div {
        display: flex;
    }

    .bold {
        font-weight: bold;
        font-size: 24px;
        align-items: center;
        color: #181E4B;
    }

    .size {
        font-size: 20px;
        font-weight: 600;
    }

    .discover {
        font-weight: bold;
        font-size: 22px;
    }

    div:nth-of-type(1) {
        font-size: 50px;
    }

    .img1 {
        width: 65px;
        height: 65px;
        margin-top: 20px;
    }

    .img2 {
        width: auto;
        height: auto;

        img {
            margin: 0 2% 2% 0;
        }
    }

    p {
        text-align: center;
        font-weight: 600;
        margin: 100px 0;
    }

    .circle {
        position: absolute;
        right: 0;
    }
}
